@model eSuitRepository.DataModels.SETUP_Department

@{
    ViewBag.Title = "Department - Add";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Department - Add</h5>
    </div>
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left">@TempData["error"]</p>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-wrap">
                                <form action="~/Department/Add" method="post" data-toggle="validator" role="form">
                                    @Html.AntiForgeryToken()
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-local-store mr-10"></i>Department's Info</h6>
                                        <hr class="light-grey-hr" />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Company</label>
                                                    <select id="Comp_Id" name="Comp_Id" class="form-control">
                                                        <option>Select Company</option>
                                                        @foreach (var comp in ViewBag.ddlCompany)
                                                        {
                                                            <option value="@comp.Comp_Id">@comp.Comp_ShortDesc</option>
                                                        }
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Code</label>
                                                    <input type="text" id="Dep_Code" name="Dep_Code" class="form-control" placeholder="Enter Code" data-error="Department code is required!" required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Level</label>
                                                    <select id="Dep_Level" name="Dep_Level" class="form-control">
                                                        <option value="0">Select Level</option>
                                                        @for (int val = 1; val <= 5; val++)
                                                        {
                                                            <option value="@val">@val</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Short Description</label>
                                                    <input type="text" id="Dep_ShortDesc" name="Dep_ShortDesc" class="form-control" placeholder="Enter Short Description" data-error="Department's short description is required!" required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Description</label>
                                                    <input type="text" id="Dep_Desc" name="Dep_Desc" class="form-control" placeholder="Enter Description" data-error="Department's full description is required!" required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Contact Person</label>
                                                    <input type="text" id="Dep_ContactPerson" name="Dep_ContactPerson" class="form-control" placeholder="Enter Name of Contact Person">
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Email</label>
                                                    <input type="email" id="Dep_EMail" name="Dep_EMail" class="form-control" placeholder="Enter Email Address" data-error="Email address is not in valid format!">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Fax</label>
                                                    <input type="text" id="Dep_Fax" name="Dep_Fax" class="form-control" placeholder="Enter Fax Number">
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Phone1</label>
                                                    <input type="text" id="Dep_Phone1" name="Dep_Phone1" class="form-control" placeholder="Enter Phone1">
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Phone2</label>
                                                    <input type="text" id="Dep_Phone2" name="Dep_Phone2" class="form-control" placeholder="Enter Phone2">
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Phone3</label>
                                                    <input type="text" id="Dep_Phone3" name="Dep_Phone3" class="form-control" placeholder="Enter Phone3">
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Mobile1</label>
                                                    <input type="text" id="Dep_Mobile1" name="Dep_Mobile1" class="form-control" placeholder="Enter Mobile1">
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Mobile2</label>
                                                    <input type="text" id="Dep_Mobile2" name="Dep_Mobile2" class="form-control" placeholder="Enter Mobile2">
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Status</label>
                                                    <select id="Dep_Status" name="Dep_Status" class="form-control">
                                                        <option value="1">Active</option>
                                                        <option value="0">In-Active</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Sort Order</label>
                                                    <input type="text" id="Dep_SortOrder" name="Dep_SortOrder" class="form-control" placeholder="Enter Sort Order">
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                    </div>
                                    <div class="form-actions mt-10">
                                        <button type="submit" class="btn btn-success  mr-10"> Save</button>
                                        <button type="button" onclick="window.location = '../Department';" class="btn btn-default">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
